{% extends "@tools/layout.html" %}

{% macro filesBlock(title, files, valid_extensions = [], file_icon = "fa-file-o") %}
	<h3 class="file-block-title">{{title}}</h3>
	<ul class="file-block-list"
		data-file-icon="{{ file_icon }}"
		data-valid-extensions="{{ valid_extensions|join(' ') }}">
		{% for file in files %}
		<li>
			<a event-click="openFileAction">
				<i class="fa {{file_icon}}"></i><span>{{file}}</span>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endmacro %}

{% block assets %}
<link rel="stylesheet" type="text/css" href="/IrbisApps/Cms/assets/cms.css"/>
<link rel="stylesheet" type="text/css" href="/IrbisApps/Cms/assets/codemirror-5.56.0/lib/codemirror.css"/>
<link rel="stylesheet" type="text/css" href="/IrbisApps/Cms/assets/codemirror-5.56.0/theme/monokai.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/IrbisApps/Cms/assets/codemirror-vscode-theme.css"/> -->
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/lib/codemirror.js"></script>
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/mode/xml/xml.js"></script>
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/mode/javascript/javascript.js"></script>
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/mode/css/css.js"></script>
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/mode/htmlmixed/htmlmixed.js"></script>
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/mode/twig/twig.js"></script>
<script src="/IrbisApps/Cms/assets/codemirror-5.56.0/addon/mode/multiplex.js"></script>
{% endblock assets %}

{% block content %}
<!-- Cabecera -->
<section class="header">
	<div class="header-left">
		<span>Irbis CMS</span>
	</div>

	<div class="header-right">
		<a is="@cms/auth-sign.js" href="#" event-click="changePassword">
			<i class="fa fa-user fa-fw"></i>
			<span>{{user}}</span>
		</a>
		<a href="/authorization/logout">
			<i class="fa fa-sign-out fa-fw"></i>
		</a>
	</div>
	<div style="clear:both"></div>
</section>

<!-- Contenido -->
<section class="tabs">
	<input name="tabs" type="radio" id="tab-1" checked="checked"/>
	<label class="tab-label" for="tab-1"><i class="fa fa-folder-open"></i></label>
	<div class="tab-content">
		<div is="@cms/file-manager.js" class="file-manager">
			<!-- manager actions -->
			<div class="actions">
				<button event-click="newFileAction" title="Nuevo archivo">
					<i class="fa fa-file-o"></i>
				</button>
	
				<label class="btn-file" title="Subir archivos">
					<input event-change="uploadFileAction" name="files[]" type="file" multiple/>
					<span><i class="fa fa-upload"></i></span>
				</label>
			</div>
			<!-- manager files -->
			{{ _self.filesBlock("Páginas", readFiles('*.html'), ["html"], "fa-file-code-o") }}
			{{ _self.filesBlock("Hojas de estilo", readFiles('*.css'), ["css"], "fa-file-text-o") }}
			{{ _self.filesBlock("Scripts", readFiles('*.js'), ["js"], "fa-file-archive-o") }}
			{{ _self.filesBlock("Imágenes", readFiles('*.img'), ['jpg','jpeg','png','gif','svg'], "fa-file-image-o") }}
			{{ _self.filesBlock("Fuentes", readFiles('*.font'), ['eot','ttf','woff','woff2','otf'], "fa-file-image-o") }}
			{{ _self.filesBlock("Otros", readFiles('*')) }}
		</div>
	</div>
</section>

<!-- Pie de pagina -->
<footer>
	CMS by <a href="https://cavia.io">JorgeQuico</a> &copy;
</footer>
{% endblock content %}