{% extends "@irbis/layout.html" %}
{% from '@irbis/tools.html' import toolsMenu %}
{% from '@irbis/model_tools.html' import modelManager, modelActions %}

{% block assets %}
<link rel="stylesheet" href="/IrbisApps/Manager/assets/font-awesome.min.css"/>
<style type="text/css">
.board {
    display: flex;
    flex-flow: row;
    gap: 1.1em;
    height: calc(100vh - 28px);
}

.board .frame { flex: 1; }
.board .frame.models { padding-left: 1.1em; }
.board .frame.content { height: 100%; flex: 5; border-left: 1px solid #ccc; }

.models details>ul {
    margin: .75em 0;
    cursor: pointer;
}
</style>
{% endblock %}

{% block content %}
<!-- tools -->
{{ toolsMenu(user) }}

<!-- board -->
<div>
    <div class="board">
        <!-- Tablero de modelos -->
        <div class="frame models">
            {{ modelManager(models, 'model-actions') }}
        </div>

        <!-- Tablero de gestión -->
        <div class="frame content">
            
        </div>
    </div>
</div>
{% endblock %}
