{% extends "@irbis/views/layout.html" %}

{% block title %}<title>Iniciar sesión</title>{% endblock %}

{% block content %}
<div class="window" style="left:50%; transform: translate(-50%, -50%); top: 200px; max-width: 320px">
	<div class="title-bar">
		<div class="title-bar-text">Inicio de sesión</div>
	</div>

	<form class="window-body has-space" method="POST">
		<div class="field-row">
			<label for="username">Usuario:</label>
			<input id="username" name="username" type="text" autofocus autocomplete="off" />
		</div>

		<div class="field-row">
			<label for="userpass">Contraseña:</label>
			<input id="userpass" name="userpass" type="password"/>
		</div>

		<div class="field-row">
			<button class="button" type="submit">Enviar</button>
			{% if (status == "error") %}
			<span>{{message}}</span>
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}