{% extends "@tools/layout.html" %}

{% block assets %}
<link rel="stylesheet" href="/IrbisApps/Base/assets/7.css"/>
<link rel="stylesheet" href="/IrbisApps/Base/assets/irbis.css"/>
{% endblock %}

{% block content %}
<div class="window active" style="left:50%; transform: translate(-50%, -50%); top: 21em; max-width: 26em;">
    <div class="title-bar">
        <div class="title-bar-text">Irbis</div>
    </div>
    <div class="window-body has-space">
        <p>
            <strong>Bienvenido</strong>
            <span>{{user.name}}</span>
            {% if user %}
                <a href="/irbis/logout">Cerrar sesión</a>
            {% else %}
                <a href="/irbis/login">Iniciar sesión</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock %}