{% extends "@irbis/layouts/base.html" %}

{% block assets %}
<link rel="stylesheet" href="https://unpkg.com/7.css" type="text/css"/>
<link rel="stylesheet" href="/IrbisApps/Base/assets/w7.css" type="text/css"/>
<style>
	.login {
		position: absolute;
		max-width: 25em;
		transform: translate(-50%, -50%); 
		top: 21em;
		left: 50%;
	}
</style>
{% endblock %}

{% block site %}
	<form class="login" method="POST">
		<fieldset>
			<legend>Iniciar sesión</legend>
			<label class="field-row">
				<span class="label">Usuario:</span>
				<input name="username" type="text" autofocus autocomplete="off" />
			</label>

			<label class="field-row">
				<span class="label">Contraseña:</span>
				<input name="userpass" type="password"/>
			</label>

			<div class="field-row">
				<button class="button default" type="submit">Enviar</button>
			</div>
		</fieldset>
	</form>
{% endblock %}