{% extends "@tools/layout.html" %}

{% block title %}<title>Iniciar sesión</title>{% endblock %}

{% block assets %}
<link rel="stylesheet" href="/IrbisApps/Base/assets/7.css"/>
<link rel="stylesheet" href="/IrbisApps/Base/assets/irbis.css"/>
{% endblock %}

{% block content %}
<div class="window" style="left:50%; transform: translate(-50%, -50%); top: 21em; max-width: 26em;">
	<div class="title-bar">
		<div class="title-bar-text">Inicio de sesión</div>
	</div>

	<form class="window-body has-space" method="POST">
		<div class="field-row">
			<label for="username">Usuario:</label>
			<input id="username" name="username" type="text" autofocus autocomplete="off" />
		</div>

		<div class="field-row">
			<label for="userpass">Contraseña:</label>
			<input id="userpass" name="userpass" type="password"/>
		</div>

		<div class="field-row">
			<button class="button default" type="submit">Enviar</button>
			<span>{{message}}</span>
		</div>
	</form>
</div>
{% endblock %}