.tree-view ul[event-click="openFileAction"] > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cms-layout {
    display: grid;
    grid-template-columns: 18em 1fr; /* nav fijo + visor flexible */
    height: calc(100vh - 30px);
    min-height: 0;
}

.cms-layout > section {
    min-width: 0;
    min-height: 0;
}

.cms-layout .nav {
    user-select: none;
    height: calc(100% - 12px);
    overflow-y: auto;
}

.cms-layout .editor {
    margin-top: 2px; 
    margin-left: -1px;
}