@import url(7.css);

body {
    color: #222;
    background: var(--w7-surface);
    font: var(--w7-font);
}

/* -= helpers =- */

.hidden { display: none; }
.text-red { color: red; }
.text-blue { color: blue; }
.text-green { color: green; }
.text-orange { color: orange; }
.bold { font-weight: bold; }
.full-width { width: 100%; }
.info { 
    padding: .5em; 
    background: #e0f7fa; 
    border: 1px solid #81d4fa; 
    border-radius: 4px; 
}
.info.muted {
    background: #f5f5f5;
    border-color: #dcdcdc;
}
.info.error {
    background: #ffebee;
    border-color: #ef9a9a;
}
.info.success {
    background: #e8f5e9;
    border-color: #a5d6a7;
}
.info.warning {
    background: #fffde7;
    border-color: #fff59d;
}


/* -= menu =- */

/* centra un icono de font-awesome en los menus 7.css */
ul[role=menu] li[role=menuitem] .fa {
    left: 7px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/* divisor en la barra de menú horizontal */
ul[role=menubar] > .divider {
    position: relative;
    padding: 6px 0;
}

ul[role=menubar] > .divider:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: var(--surface);
    box-shadow: 1px 0px #ffffff, -1px 0px #b0b0b0;
}

/* menú ajustado hacia la derecha */
ul[role=menu].to-right {
    right: 0;
    left: auto;
}

/* -= forms =- */

.field-control {
    display: inline-block;
    margin: .33em;
}

.field-control label:has(+ input), .field-control .label:has(+ input) {
    width: 8em;
    overflow-wrap: break-word;
    display: inline-block;
}

/* -= forms: checkbox to right =- */

.field-control input[type=checkbox] {
    opacity: 100;
}

/* replicar el nuevo checkbox de 7.css, orientado a la derecha */
.field-control input[type=checkbox]:after {
    background: #f6f6f6;
    border: 1px solid var(--w7-el-bd);
    box-shadow: inset 0 0 0 1px var(--w7-el-bg-d),inset 1px 1px 0 1px #aeaeae,inset -1px -1px 0 1px #ddd,inset 3px 3px 6px #ccc;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: var(--w7-cb-size);
    transition: .4s;
    width: var(--w7-cb-size);
    line-height: var(--w7-cb-size); /* TODO: esta regla ocasiona que el label se mueva ligeramente */
    text-align: center;
    font-weight: 700;
}

.field-control input[type=checkbox]:hover:after {
    background: #e9f7fe;
    border-color: var(--w7-el-bd-h);
    box-shadow: inset 0 0 0 1px #def9fa,inset 1px 1px 0 1px #79c6f9,inset -1px -1px 0 1px #c6e9fc,inset 3px 3px 6px #b1dffd;
}

.label:has(+input[type=checkbox]:focus-visible) {
    outline: 1px dotted #000;
}

/* checkbox marcado */
.field-control input[type=checkbox]:checked:after {
    color: #4a5f97;
    content: "\2714";
}

/* checkbox desactivado */
.label:has(+input[type=checkbox]:disabled) {
    color: #6d6d6d;
}

.field-control input[type=checkbox]:disabled:after {
    background: linear-gradient(to bottom right,#f0f0f0,#fbfbfb);
    border-color: #b1b1b1;
    box-shadow: none;
    color: #bfbfbf;
}

/* fieldsets a dos columnas */
.field-section {
    display: grid;
    grid-template-columns: 48% 1fr;
    gap: 1em;
}

/* -= tables =- */

