{# 
    proporciona un layout básico
	variables:
		- apps: lista de aplicaciones disponibles
		- models: lista de modelos disponibles
#}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ site_title ?: 'Irbis' }}</title>
	<style>
		input:focus { outline: none; }
	</style>
	<script type="text/javascript">
		window.irbis = window.irbis || {
			debugMode: parseInt("{{DEBUG_MODE}}"),
			mainComponent: false,
			component: function (name) {
				if (!name) return this.mainComponent;
				let el = document.getElementById(name);
				return el.component || false;
			}
		};
	</script>
	<script type="importmap">
{"imports": {
{% for a in apps %}"@{{a.name}}/": "/{{a.namespace}}/components/"{{ loop.last ? '' : ',\n' }}{% endfor -%}
}}
	</script>
	{% block assets %}{% endblock assets%}
</head>

<body>
	{% block site %}{% endblock site %}
	<script defer>
		(function () {
			document.querySelectorAll('[is]').forEach(function (el) {
				let component = el.getAttribute('is');
				import(component).then(function (module) {
					// el, es el elemento que se comporta como un componente
					// module, termina siendo la clase importada
					// creamos una instancia de dicha clase con el elemento
					// así el componente (vista) se une con el componente (código)
					let instance = new module[Object.keys(module)[0]](el);
					if (el.hasAttribute('main-component')) {
						irbis.mainComponent = instance;
					}
				});
			});
		})();
	</script>
</body>

</html>